.range-custom {
  color: #fff;
  background: #237cb3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noShadow{
  box-shadow: unset !important;
}

.p-hidden-accessible {
  display: none;
}
