@if (isShow) {
<section class="flex bg-white relative shadow-[0px_2px_6px_rgba(0,0,0,0.2)] z-[1] cursor-auto" [class.noShadow]="!config['isListItemShow'] && !config['showButtonBar']">
  @if (config['isListItemShow']) {
  <div #sidebar class="my-4 mx-0 flex flex-col min-w-56 min-h-[420px] justify-between">
    <ul class="flex-grow-1 text-left p-0 list-none mb-0 flex flex-col">
      @for (item of listSelectDates; track item) {
      <li class="text-sm py-2 px-3 rounded m-0 cursor-pointer hover:bg-[#f0f2f5]" [id]="item.value" [ngClass]="{'bg-[#e0f3ff] text-[#237cb3]': selectedType === item.value}" [class.actived]="selectedType === item.value" (click)="selectRangeDateCustom(item.value, $event)" [textContent]="item.label"></li>
      }
    </ul>
    <div class="w-full py-0 px-3">
      <button [disabled]="!dateRange || dateRange.length === 0" (click)="confirm()" class="mt-1 w-full py-1 text-white bg-[#237cb3] border-[#237cb3] rounded">
        {{"Apply Filter"}}
      </button>
      @if (dateRange && dateRange.length > 0) {
      <button (click)="reset()" class="mt-1 w-full py-1 bg-[#f2f4f8] border-[#237cb3] rounded">
        {{"Reset Filter"}}
      </button>
      }
    </div>
  </div>
  }
  <div class="p-0" [ngClass]="{'px-3': !config['isInputShow']}">
    @if (config['isTabShow']) {
    <p-tabView [(activeIndex)]="tabIndex" (onChange)="onChangeTab($event.index)" styleClass="tab-calendar">
      <p-tabPanel header="Between"> </p-tabPanel>
      <p-tabPanel header="Before"> </p-tabPanel>
      <p-tabPanel header="On"> </p-tabPanel>
      <p-tabPanel header="After"> </p-tabPanel>
    </p-tabView>
    }
    @if (config['isInputShow']) {
    <div class="input-container--datepicker">
      @switch (tabIndex) {
      @case (customRangeDate.Between) {
      <p-inputMask mask="99-99-9999" class="position-relative" placeholder="dd-mm-yyyy" slotChar="dd-mm-yyyy" (onComplete)="completeInput()" [(ngModel)]="startDate">
      </p-inputMask>
      <p-inputMask mask="99-99-9999" class="position-relative pl-2" placeholder="dd-mm-yyyy" slotChar="dd-mm-yyyy" (onComplete)="completeInput()" [(ngModel)]="endDate">
      </p-inputMask>
      }
      @case (customRangeDate.Before) {
      <p-inputMask mask="99-99-9999" class="position-relative" placeholder="dd-mm-yyyy" slotChar="dd-mm-yyyy" (onComplete)="completeInput()" [(ngModel)]="endDate">
      </p-inputMask>
      <i class="icon-calendar font-size-20 calender-icon"> </i>
      }
      @default {
      <p-inputMask mask="99-99-9999" class="position-relative" placeholder="dd-mm-yyyy" slotChar="dd-mm-yyyy" (onComplete)="completeInput()" [(ngModel)]="startDate">
      </p-inputMask>
      <i class="icon-calendar font-size-20 calender-icon"> </i>
      }
      }
    </div>
    }
    <p-calendar styleClass="calendar-datepicker" [selectionMode]="selectedMode" [firstDayOfWeek]="1" [numberOfMonths]="1" [appendTo]="'body'" [readonlyInput]="true" placeholder="Pick a ready date" [showButtonBar]="false"
      [inline]="true" [minDate]="config['minDate']" [maxDate]="config['maxDate']" [dateFormat]="'dd-MM-yyyy'" [(ngModel)]="dateRangeModel" (onSelect)="changeCalendar()"
      (onMonthChange)="onChangeMonthOrYear()" (onYearChange)="onChangeMonthOrYear()" #datepicker>
      <ng-template pTemplate="date" let-date>
        <span [ngClass]="
      dateRangeModel && ((dateRangeModel[0] &&
        date.month === dateRangeModel[0].getMonth() &&
        date.day === dateRangeModel[0].getDate()) ||
      (dateRangeModel[1] &&
        date.month === dateRangeModel[1].getMonth() &&
        date.day === dateRangeModel[1].getDate()))
        ? config['startEndClass']
                : null
            ">{{ date?.day }}</span>
      </ng-template>
    </p-calendar>
    @if (config['showButtonBar']) {
    <div class="border-top text-dark d-flex justify-content-end px-1 py-3">
      <button (click)="cancel()" class="btn"><span class="font-size-14">{{"Cancel"}}</span></button>
      <button (click)="confirm()" class="btn btn-primary">
        <span class="font-size-14">{{'Save'}}</span>
      </button>
    </div>
    }
  </div>
</section>
}
